.formSection {
    background: #011233;
}

.formWrapper {
    background: #fff;
    border-radius: 20px;
    padding: 40px;
    max-width: 700px;
    margin: 0 auto;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.heading {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: #0b0b2a;
    margin-bottom: 30px;
}

.input,
.textarea {
    border-radius: 30px;
    border: 1px solid #ddd;
    padding: 10px 20px;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.input:focus,
.textarea:focus {
    border-color: #00aaff;
    box-shadow: 0 0 0 0.2rem rgba(0, 170, 255, 0.15);
}

.textarea {
    border-radius: 20px;
}

.submitBtn {
    background: #00aaff;
    border: none;
    padding: 12px 30px;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    transition: all 0.3s ease;
}

.submitBtn:hover {
    background: #008ed6;
}

.label{
    color: #000;
    display: block;
    font-size: 0.925rem;
    text-align: start;
}

@media (max-width: 768px) {
    .formWrapper {
        padding: 25px;
        display: none;
    }

    .heading {
        font-size: 1.6rem;
    }
}