.section_heading.text_center
{
    margin-bottom: 3.75rem;
}
.section_heading.text_center > h2, .section_heading > h2 
{
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}
.section_heading>h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1.125rem;
}
.section_heading.text_center>h2 
{
    max-width: 45.5rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1.125rem;
}
.getStartedCTA 
{
    background: #d5f2ff;
    border-radius: 1rem;
    padding: 2.5rem 3.75rem;
    box-shadow: 0 0 1rem rgba(0,0,0,.1)
}
.ctaImageArea 
{
    position: relative;
    height: 100%;
}
.ctaImageArea>img 
{
    position: absolute;
    max-height: 22rem;
    left: 45%;
    bottom: -2.5rem;
    transform: translate(-50%,0)
}
.pt_double 
{
    padding: var(--sectionPadding-top) 0 var(--sectionPadding-bottom);
    padding-top: calc(var(--sectionPadding-top) * 2)
}
.pt_default_mob 
{
    padding-top: var(--sectionPadding-bottom)
}
.section_heading+.link_area
{
    margin-top: 2rem;
}
.link_area > :is(a, button) {
  position: relative;
  display: inline-block;
  padding: .75rem 3rem;
  border-radius: 4rem;
  min-height: 3rem;
  border: 0;
  outline: 0;
  background: #222;
  color: #fff;
  font-weight: 600;
  z-index: 1;
  overflow: hidden;
  transition: .3s;
  cursor: pointer;
}

.link_area > :is(a, button):hover {
  background-color: #3c7cff;
}

.link_area > :is(a, button)::before {
  content: "";
  position: absolute;
  top: -133%;
  left: -50%;
  width: 22%;
  height: 410%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0)
  );
  transform: rotate(45deg);
  transform-origin: center;
  opacity: 0; 
}

.link_area > :is(a, button):hover::before {
  animation: shine 1.1s linear infinite;
  opacity: 1;
}

@keyframes shine {
  0% {
    left: -50%;
  }
  100% {
    left: 100%;
  }
}
