.inner_banner,
.nice_select .option.focus,
.nice_select .option.selected.focus,
.nice_select .option:hover,
.primary_light_bg {
    background: #ecf9ff;
}
.gradient_circle {
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0;
    margin-bottom: 1rem;
    list-style: none;
}
.breadcrumb_item+.breadcrumb_item::before {
    float: left;
    padding-right: .5rem;
    color: #6c757d;
    content: var(--bs-breadcrumb-divider, "/");
}
.inner_banner {
    padding: 4.75rem 0;
}
.inner_bannerHeading>h1 {
    font-size: 2.75rem;
    font-weight: 600;
}
.inner_bannerHeading>ul
{
    display: flex;
    flex-direction: column;
    gap: .375rem;
    margin-top: 1.5rem;
}
.checkMark_ul>li::before, .inner_bannerHeading>ul>li::before, .section_heading>ul>li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 1rem;
    height: 100%;
    background: url(../../../public/assets/images/shapes/check-mark.png) center center / contain no-repeat;
    background-position-y: 15%;
}
.about_imageArea>img.banner_img,.about_imageArea>img.hands_img,.contentWriting_imageArea>img:not(.circle_img),.digitalMarketing_splitArea>img.banner_img,.videoAnimation_splitArea>img.banner_img,.webDesign_imageArea>img.banner_img {
    position: absolute;
    width: 100%;
    top: 55%;
    left: 58%;
    transform: translate(-50%,-50%);
}
.about_imageArea>img.circle_img,.contentWriting_imageArea>img.circle_img,.digitalMarketing_splitArea>img.circle_img,.videoAnimation_splitArea>img.circle_img,.webDesign_imageArea>img.circle_img {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.about_imageArea>img.banner_img {
    top: auto;
    bottom: 4.75rem;
    transform: translate(-50%,0);
}
.about_imageArea>img.circle_img {
    max-width: 25rem;
}
.about_imageArea,
.benefits_imagesArea,
.blog_cardDetail > a > span,
.blogPage_rightCard > form,
.boxes_bgArea,
.caseStudy_holderArea,
.caseStudy_mobileArea,
.caseStudy_windowArea,
.contentWriting_imageArea,
.convertCustomer_area,
.digitalMarketing_splitArea,
.industry_imageArea,
.mesh_shapes .home_portfolio_tabs,
.position_relative,
.process_area > li > .process_detail,
.progress_area,
.progress_inner,
.single_webPortfolio > .webPortfolio_imageArea,
.videoAnimation_splitArea,
.webDesign_imageArea {
    position: relative;
}
.about_imageArea > img.banner_img,
.about_imageArea > img.hands_img,
.contentWriting_imageArea > img:not(.circle_img),
.digitalMarketing_splitArea > img.banner_img,
.videoAnimation_splitArea > img.banner_img,
.webDesign_imageArea > img.banner_img {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 58%;
    transform: translate(-50%, -50%);
}
.checkMark_ul > li,
.inner_bannerHeading > ul > li,
.section_heading > ul > li {
    position: relative;
    padding-left: 1.5rem;
}
.rotation_animation {
    animation: 100s linear infinite both rotation_animation;
}

@keyframes rotation_animation {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}
.leftCenter_gradient::after {
    left: 0;
    transform: translate(-50%, -50%);
}
.gradient_circle::after {
    --bg-color: #3cb8ff;
    content: "";
    position: absolute;
    top: 50%;
    width: 22.5rem;
    height: 22.5rem;
    opacity: .325;
    background: radial-gradient(var(--bg-color) -30%, transparent 70%);
    z-index: -1;
}
.link_area > :is(a, button) {
  position: relative;
  display: inline-block;
  padding: .75rem 3rem;
  border-radius: 4rem;
  min-height: 3rem;
  border: 0;
  outline: 0;
  background: #222;
  color: #fff;
  font-weight: 600;
  z-index: 1;
  overflow: hidden;
  transition: .3s;
  cursor: pointer;
}

.link_area > :is(a, button):hover {
  background-color: #3c7cff;
}

.link_area > :is(a, button)::before {
  content: "";
  position: absolute;
  top: -133%;
  left: -50%;
  width: 22%;
  height: 410%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0)
  );
  transform: rotate(45deg);
  transform-origin: center;
  opacity: 0; 
}

.link_area > :is(a, button):hover::before {
  animation: shine 1.1s linear infinite;
  opacity: 1;
}

@keyframes shine {
  0% {
    left: -50%;
  }
  100% {
    left: 100%;
  }
}
.inner_bannerHeading+.link_area,
.scroller_list,
.section_heading+.link_area {
    margin-top: 2rem;
}
.breadcrumb_item.active {
    color: #3c7cff;
}
ol.breadcrumb {
    font-size: .8rem;
}
.breadcrumb_item+.breadcrumb_item {
    padding-left: .5rem;
}
.breadcrumb_item+.breadcrumb_item::before {
    float: left;
    padding-right: .5rem;
    color: #6c757d;
    content: var(--bs-breadcrumb-divider, "/");
}
.footerlinksmargin, .section_heading+.partnersUl {
    margin-top: 3rem;
}
.partnersUl {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.partnersUl>li>img {
    width: 5.875rem;
    height: 2.75rem;
    object-fit: contain;
}
.progress_container>h3 {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0 0 1.125rem;
}
.progress_container>h3, .scroller_list>li>a>h3, body {
    font-family: Poppins, sans-serif;
}
.progress-area.primary {
    --progress-color: var(--primary);
}
.about_imageArea,
.benefits_imagesArea,
.blog_cardDetail>a>span,
.blogPage_rightCard>form,
.boxes_bgArea,
.caseStudy_holderArea,
.caseStudy_mobileArea,
.caseStudy_windowArea,
.contentWriting_imageArea,
.convertCustomer_area,
.digitalMarketing_splitArea,
.industry_imageArea,
.mesh_shapes .home_portfolio_tabs,
.position_relative,
.process_area>li>.process_detail,
.progress_area,
.progress_inner,
.single_webPortfolio>.webPortfolio_imageArea,
.videoAnimation_splitArea,
.webDesign_imageArea {
    position: relative;
}
.progress_inner {
    background: #f0f0f0;
    height: 3.75rem;
    overflow: hidden;
}
.progress_fill, .progress_inner {
    border-radius: 10rem;
}
.progress_fill {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--percent);
    height: 100%;
    background: var(--progress-color);
    transition: width .3s;
}
.progress_fill, .progress_inner {
    border-radius: 10rem;
}
.progress_area>.progress_count {
    position: absolute;
    border: 3px solid var(--progress-color);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    width: 7rem;
    height: 7rem;
    font-size: 1.625rem;
    background: rgba(255, 255, 255, .7);
    transform: translate(0, -50%);
    left: var(--percent);
    border-radius: 50%;
    transition: left .3s, transform .3s;
}
.top_one>p {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .2;
    font-size: 6rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    -webkit-writing-mode: vertical-rl;
    -webkit-text-orientation: mixed;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: translate(-100%, 0);
}
.ctaImageArea, .top_one {
    position: relative;
    height: 100%;
}
.section-padding {
    padding: var(--sectionPadding-top) 0 var(--sectionPadding-bottom);
}