.section_padding {
    padding: var(--sectionPadding-top) 0 var(--sectionPadding-bottom);
}
.section_heading>h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1.125rem;
}
.inner_banner
{
    padding: var(--sectionPadding-top) 0;
    background: var(--primary-light-bg);
}
.gradient_circle {
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.leftCenter_gradient::after {
    left: 0;
    transform: translate(-50%, -50%);
}
.gradient_circle::after {
    --bg-color: #3cb8ff;
    content: "";
    position: absolute;
    top: 50%;
    width: 22.5rem;
    height: 22.5rem;
    opacity: .325;
    background: radial-gradient(var(--bg-color) -30%, transparent 70%);
    z-index: -1;
}
ol.breadcrumb {
    font-size: .8rem;
}
.breadcrumb 
{
    display: flex;
    flex-wrap: wrap;
    padding: 0 0;
    margin-bottom: 1rem;
    list-style: none;
}
.breadcrumb li a
{
    color: #0d6efd;
    text-decoration: underline;
    text-decoration: none;
}
.breadcrumb_item+.breadcrumb_item::before {
    float: left;
    padding-right: .5rem;
    color: #6c757d;
    content: var(--bs-breadcrumb-divider, "/");
}
.breadcrumb_item+.breadcrumb_item {
    padding-left: .5rem;
}
.link_area>:is(a,button) {
    position: relative;
    display: inline-block;
    padding: .75rem 3rem;
    border-radius: 4rem;
    min-height: 3rem;
    border: 0;
    outline: 0;
    background: var(--text-color);
    color: var(--text-light-color);
    font-weight: 600;
    z-index: 1;
    overflow: hidden;
    transition: .3s;
}
.link_area>a:hover:before
{
    content: "";
    position: absolute;
    top: -133%;
    left: -50%;
    width: 22%;
    height: 410%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, .4), rgba(255, 255, 255, 0));
    animation: 1.1s linear infinite shine;
    transform: rotate(45deg);
    transform-origin: center;
}
.banner_form>button:hover, .link_area>:is(a,button):hover {
    background-color: var(--primary);
}
@keyframes shine {
  0% {
    left: -50%;
  }
  100% {
    left: 100%;
  }
}
.link_area{
    margin-top: 2rem;
}
.basic_tabs > .nav_tabs
{
    width:100%;    
    text-align: center;
    justify-content: center;
}
.section_heading.text_center>h2 {
    max-width: 45.5rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1.125rem;
}
.section_heading.text_center>p {
    max-width: 39rem;
    margin-left: auto;
    margin-right: auto;
}
.basic_tabs, .mb-3_75, .section_heading.text_center 
{
    margin-bottom: 3.75rem;
}
.basic_tabs > .nav_tabs > .nav_item > .nav_link
{
    position: relative;
    font-size: 0.9rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 15rem;
    font-size: 1rem;
    border: 0;
    gap: .5rem;
    line-height: 1.25;
    padding: 1.5rem 2.5rem;
    min-width: 13.75rem;
    font-weight: 600;
    transition: .1s;
    overflow: hidden;
}
.basic_tabs > .nav_tabs > .nav_item > .nav_link.active
{
  background: var(--secondary);
  color: var(--text-light-color);
}
.tabsecheading 
{
    font-weight: 600;
}
.text_center 
{
    text-align: center !important;
}
.basic_tabs>.nav_tabs>.nav_item>.nav_link.active::before, .stepArea.active {
    transform: translate(0, 0);
}
.basic_tabs>.nav_tabs>.nav_item>.nav_link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.125rem;
    background: url(../../../public/assets/images/shapes/tab-before.png) center bottom / contain no-repeat;
    transform: translate(0, 100%);
    transition: .3s;
    z-index: 1;
}
.industry_imageArea
{
    position: relative;
}
.industry_imageArea img {
    position: relative;
    left: 50%;
    max-height: 32.3125rem;
    transform: translate(-50%, 0);
}
.w_100 {
    width: 100% !important;
}
.primary_extra_light_bg, .split_section 
{
    background: var(--primary-extra-light-bg);
}
.dark_area {
    position: relative;
    color: var(--text-light-color);
    padding: 0 0 0 2rem;
}
.dark_area::before {
    content: "";
    position: absolute;
    top: calc(var(--sectionPadding-top) * -2);
    left: -.75rem;
    right: -50vw;
    bottom: calc(var(--sectionPadding-bottom) * -2);
    background: var(--dark-bg);
    z-index: -2;
}
.link_area > a.primary 
{
    background: radial-gradient(49.53% 384.62% at 50.47% 391.61%, #3975FF 49.53%, #1429FF 100%) !important;
}
.basic_inputArea > :is(input, select, textarea, button, .nice-select) {
    padding: 0.5625rem 1.25rem;
}
.basic_inputArea .iti > input, .basic_inputArea > :is(input, select, textarea, .nice-select) {
    border: 1px solid rgb(153, 153, 153);
    background-color: transparent;
}
.basic_inputArea .iti > input, .basic_inputArea > :is(input, select, textarea, button, .nice-select) {
    width: 100%;
    border-radius: 3rem;
    outline: 0px;
}
.basic_inputArea > textarea 
{
    height: 8rem;
    resize: none;
    border-radius: 0.75rem !important;
}
.about_imageArea, .benefits_imagesArea, .blog_cardDetail > a > span, .blogPage_rightCard > form, .boxes_bgArea, .caseStudy_holderArea, .caseStudy-mobileArea, .caseStudy-windowArea, .contentWriting-imageArea, .convertCustomer-area, .digitalMarketing-splitArea, .industry-imageArea, .mesh-shapes .home-portfolio-tabs, .position-relative, .process-area > li > .process-detail, .progress_area, .progressvinner, .single_webPortfolio > .webPortfoliov_imageArea, .videoAnimation_splitArea, .webDesign_imageArea {
    position: relative;
}
.benefits_images > img.right_center {
    width: 35%;
    top: 27.5%;
    right: 2.5%;
}
.benefits_images > img {
    position: absolute;
    filter: drop-shadow(rgba(0, 0, 0, 0.15) 0px 0px 0.5rem);
}
.benefits_images > img {
    position: absolute;
    filter: drop-shadow(rgba(0, 0, 0, 0.15) 0px 0px 0.5rem);
}