.footer {
    position: relative;
    background: var(--text-color);
    z-index: 1;
}
.footer_logoArea {
    margin-bottom: 2.5rem;
}
.footer_logoArea>a {
    display: block;
    margin-bottom: 2rem;
}
.footer_bgLines {
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.footer_bgLines>span {
    height: 100%;
    width: 1px;
    background-image: linear-gradient(to bottom, #ebebeb, #ebebeb44, #ebebeb11);
    opacity: .1;
}
.footer_top {
    padding: var(--sectionPadding-bottom) 0 calc(var(--sectionPadding-bottom) / 2);
}
.partners_rating 
{
    display: flex;
    width: 100%;
    gap: 0 20px;
    align-items: center;
}
.partners_rating > li > a > img {
    max-width: 170px;
    filter: brightness(0) invert(1);
}
.footer_logoArea>a>img, .partners_rating>li>img {
    height: 1.875rem;
    filter: brightness(0) invert(1);
    object-fit: contain;
    object-position: center left;
}
.footer_logoArea>p {
    font-size: .9375rem;
    max-width: 21.5rem;
    color: #fff;
}
.footer_linksArea>h3, .footer_linksArea>p {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1.25rem;
    font-family: Poppins, sans-serif;
    color: #fff;
}
.bookNow_contactList, .footer_linksArea>ul {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    font-weight: 300;
}
.footer_linksArea>ul>li>a {
    font-size: .875rem;
    transition: color .3s;
    color: #fff;
}
.footer_linksArea>ul>li>a {
    font-size: .875rem;
    transition: color .3s;
    display: flex;
    gap: .5rem;
    font-weight: 300;
}
.social_links>li>img {
    height: 1.5rem;
}
.footer_bottom {
    border-top: 1px solid #444;
    padding: 50.4688px 0;
}
.copyright
{
    color:#fff;
}
.social_links {
    display: flex;
    gap: 1.25rem;
    align-items: center;
    justify-content: flex-end;
    line-height: 1;
}
.footer_linksArea+.footer_linksArea {
    margin-top: 2.25rem;
}
.footer-linksArea>ul
{
        display: flex;
    flex-direction: column;
    gap: .75rem;
    font-weight: 300;
}
.footer_social {
    margin-top: 20px;
    flex-direction: row !important;
    width: 100%;
}
.footer_social > li > a
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    padding: 10px;
}