.webPortfolioCaseStudyDetailArea > img {
  width: 100%;
  height: 5rem;
  filter: brightness(0);
  object-fit: contain;
  object-position: center left;
  padding: 0 2rem 1.5rem;
}

.caseStudy-resultCard > p,
.caseStudy-serviceDetail > .top > p,
.digitalMarketing-caseStudy-detailArea > ul > li > p,
.single-contentWriting-card > ul,
.single-step-cardDetail > p,
.team-content > p,
.webPortfolioCaseStudyDetail > p {
  font-size: 0.875rem;
}

.webPortfolioCaseStudyDetail {
  background: var(--primary-extra-light-bg);
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  padding: 1.25rem 2rem;
}
.single-caseStudy-feature .caseStudy-featureDetail > h3,
.webPortfolioCaseStudyDetail > h3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1.25rem;
}
.webPortfolioCaseStudyDetail .webPortfolio-linkArea {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #c1c1c1;
  font-size: 0.75rem;
  font-weight: 600;
  margin-top: 3.5rem;
  padding: 1.25rem 0 0;
  text-transform: uppercase;
}
.webPortfolioCaseStudyDetail .webPortfolio-linkArea > a.launch,
.webPortfolioCaseStudyDetail .webPortfolio-linkArea > a.request {
  color: var(--primary);
  font-size: 11px;
}

.webPortfolioCaseStudyDetailArea > img {
  width: 100%;
  height: 5rem;
  filter: brightness(0);
  object-fit: contain;
  object-position: center left;
  padding: 0 2rem 1.5rem;
}

.menu > li,
.menu > li.btn-li,
.webPortfolioCaseStudyArea > * {
  padding: 0;
}

.webPortfolioCaseStudyArea {
  position: relative;
  background: var(--background);
  margin: 0 -1rem;
  align-items: center;
  padding: 1.25rem 0 0;
  border-top: 0.3125rem solid var(--primary);
}

.webPortfolioCaseStudyTabsArea {
  display: flex;
  align-items: center;
}

.webPortfolioCaseStudyContent {
  width: 75%;
}

.menu > li,
.menu > li.btn-li,
.webPortfolioCaseStudyArea > * {
  padding: 0;
}

.webPortfolioCaseStudyTabs {
  width: 25%;
}

.webPortfolioCaseStudyTabs > .nav-tabs {
  display: flex;
  flex-direction: column;
  background: var(--background);
  border: 0;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  gap: 1rem;
  padding: 1rem 0;
}
.webPortfolioCaseStudyTabs > .nav-tabs > li > a {
  border: 0;
  padding: 0 1.25rem;
}
.webPortfolioCaseStudyTabs > .nav-tabs > li > a > img {
  width: 100%;
  max-height: 6.5rem;
  object-fit: cover;
  object-position: top center;
  transition: 0.3s;
}
.caseStudy-form .detail > p,
.videoAnimation-details > .stars,
.webPortfolioCaseStudyDetail .webPortfolio-linkArea > a > i {
  font-size: 0.625rem;
}
.webPortfolioCaseStudyTabs > .nav-tabs > li > a.active > img {
  box-shadow: 0.3125rem 0.3125rem 0 0 var(--primary);
}

.webPortfolioCaseStudyDetail {
  background: var(--primary-extra-light-bg);
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  padding: 1.25rem 2rem;
}
.single-caseStudy-feature .caseStudy-featureDetail > h3,
.webPortfolioCaseStudyDetail > h3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1.25rem;
}
.webPortfolioCaseStudyDetail .webPortfolio-linkArea {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #c1c1c1;
  font-size: 0.75rem;
  font-weight: 600;
  margin-top: 3.5rem;
  padding: 1.25rem 0 0;
  text-transform: uppercase;
}
.webPortfolioCaseStudyDetail .webPortfolio-linkArea > a.launch,
.webPortfolioCaseStudyDetail .webPortfolio-linkArea > a.request {
  color: var(--primary);
  font-size: 11px;
}

.webPortfolioCaseStudyDetail > p:nth-child(1) {
  font-family: "BlinkMacSystem", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1.25rem;
}

.webPortfolioCaseStudyClose {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  background: var(--text-color);
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}

.banner-form > button,
.linkArea > :is(a, button) {
  position: relative;
  display: inline-block;
  padding: 0.75rem 3rem;
  border-radius: 4rem;
  min-height: 3rem;
  border: 0;
  outline: 0;
  background: var(--text-color);
  color: var(--text-light-color);
  font-weight: 600;
  z-index: 1;
  overflow: hidden;
  transition: 0.3s;
}
.banner-form > button:hover,
.linkArea > :is(a, button):hover {
  background-color: var(--primary);
}
@-moz-document url-prefix() {
  .banner-form > button,
  .linkArea > :is(a, button) {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  body {
    overflow-x: hidden;
  }
  .banner-form > button:hover > span,
  .linkArea > :is(a, button):hover > span {
    transform: translateY(0) scale(3) !important;
  }
}
.banner-form > button,
.linkArea > :is(a, button).primary {
  background: var(--primary);
  transition: 0.3s;
}
.banner-form > button,
.linkArea > a.primary,
.linkArea > button.primary {
  position: relative;
  display: inline-block;
  padding: 0.75rem 3rem;
  border-radius: 4rem;
  min-height: 3rem;
  border: 0;
  outline: 0;
  background: var(--primary);
  color: var(--text-light-color);
  font-weight: 600;
  overflow: hidden;
  transition: color 0.3s;
}
.banner-form > button:after,
.linkArea > a.primary:after,
.linkArea > button.primary:after {
  content: "";
  position: absolute;
  z-index: -1;
  background: #15dba8;
  height: 100%;
  width: 100%;
  border-radius: 5rem;
  top: 0;
  right: 100%;
  opacity: 0;
  transition: 0.7s;
}
.banner-form > button:hover:after,
.linkArea > a.primary:hover:after,
.linkArea > button.primary:hover:after {
  top: 0;
  right: 0;
  opacity: 1;
  width: 119%;
}
.banner-form > button > span,
.linkArea > :is(a, button) > span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--primary);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}
.banner-form > button > span,
.linkArea > :is(a, button).primary > span {
  background: var(--text-color);
}
.banner-form > button > span:first-child,
.linkArea > :is(a, button) > span:first-child {
  --n: 1;
}
.banner-form > button > span:nth-child(2),
.linkArea > :is(a, button) > span:nth-child(2) {
  --n: 2;
}
.banner-form > button > span:nth-child(3),
.linkArea > :is(a, button) > span:nth-child(3) {
  --n: 3;
}
.banner-form > button > span:nth-child(4),
.linkArea > :is(a, button) > span:nth-child(4) {
  --n: 4;
}
.banner-form > button:hover > span,
.linkArea > :is(a, button):hover > span {
  transform: translateY(0) scale(2);
}

.inner-bannerHeading + .linkArea,
.scroller-list,
.section-heading + .linkArea {
  margin-top: 2rem;
}

#submitBannerForm:hover::before,
.banner-form button:hover::before,
.basic-inputArea > button:hover::before,
.book-your-call:hover::before,
.linkArea > a:hover::before,
.linkArea > button:hover::before,
.popup-inputArea > button:hover::before,
.primary:hover::before {
  content: "";
  position: absolute;
  top: -133%;
  left: -50%;
  width: 22%;
  height: 410%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0)
  );
  animation: 1.1s linear infinite shine;
  transform: rotate(45deg);
  transform-origin: center;
}

.basic-inputArea > .linkArea > :is(a, button) {
  min-height: 2rem;
  padding: 0.625rem 3rem;
}

.offer-left > .head,
.pricing-price > .linkArea,
.single-team,
.single-whyChooseUs,
.steps-footer {
  text-align: center;
}
.pricing-price > .linkArea > a {
  padding: 0.625rem 2.25rem;
  min-height: auto;
}

.single-step-cardDetail > .linkArea > * {
  padding: 0.5rem 2.25rem;
  font-size: 0.75rem;
  min-height: 2rem;
}

.single-contentWriting-card > .linkArea {
  margin-top: 1.875rem;
}

.single-sampleCard > .linkArea > a {
  font-size: 0.875rem;
  padding: 0.75rem 1.625rem;
  min-height: auto;
}

.mobileMenu .linkArea > button {
  padding: 0.75rem 1.5rem;
  width: 100%;
}

.letsGetStated-popup .basic-inputArea .iti > input,
.letsGetStated-popup .basic-inputArea > :is(input, select, textarea, button),
.letsGetStated-popup > form > .linkArea > butt- + on {
  font-size: 0.875rem;
  width: 100%;
}
.letsGetStated-popup .basic-inputArea > :is(input, select, textarea, button),
.letsGetStated-popup > form > .linkArea > butt- + on {
  padding: 0.5rem 1rem;
}
.letsGetStated-popup > form > .linkArea > button {
  min-height: 2.75rem;
  width: 100%;
}

.dark-area .linkArea > :is(a, button).primary:hover {
  color: var(--text-color);
}
.dark-area .linkArea > :is(a, button).primary > span {
  background: var(--background);
}

.linkArea > a.primary {
  background: radial-gradient(
    49.53% 384.62% at 50.47% 391.61%,
    #3975ff 49.53%,
    #1429ff 100%
  ) !important;
}

.banner-form > button,
.linkArea > a.primary,
.linkArea > button.primary {
  padding: 0.75rem 1rem;
}

.wd2menu .linkArea > .primary {
  color: #fff;
  height: auto;
  min-height: auto;
  padding: 0.5rem 1.5rem;
  font-weight: 700;
  animation: glow-scale 2s infinite;
}

.wd2menu .linkArea > .primary {
  font-size: 0.75rem;
}

.menu > li > .linkArea > button {
  font-size: 0.8125rem;
  padding: 0.85rem 2.5rem;
  min-height: auto;
  height: auto;
}

.linkArea .white-btn1 {
  background: #fff;
  color: #000;
}
.linkArea .white-btn1:hover {
  background: #fff;
  color: #000;
}
.linkArea .white-btn1:before {
  display: none;
}

.webPortfolioCaseStudyImage {
  height: 40rem;
  max-height: 35rem;
  background-position: top center;
  background-size: 100%;
  overflow: hidden;
  transition: background-position 25s;
}

.webPortfolioCaseStudyImage:hover {
  background-position: bottom center;
}
.webPortfolioCaseStudyImage:hover {
  background-position: bottom center;
}

#website-caseStudy2 .webPortfolioCaseStudyImage,
#website-caseStudy3 .webPortfolioCaseStudyImage,
#website-caseStudy4 .webPortfolioCaseStudyImage {
  transition: background-position 2.8s;
}


@media (max-width: 768px) {
  .link-area a {
    position: relative;
    z-index: 1;
  }
  .banner-form > button,
  .linkArea > :is(a, button) {
    padding: 0.875rem 3rem;
  }
  .webPortfolioCaseStudyTabsArea {
    display: grid;
  }
  .webPortfolioCaseStudyDetailArea {
    padding-top: calc(var(--sectionPadding-bottom) / 2);
  }
  .webPortfolioCaseStudyDetailArea > p {
    display: none;
  }

  .webPortfolioCaseStudyDetailArea > img {
    width: 100%;
    object-position: center center;
  }
}
