

.section_heading.text_center
{
    margin-bottom: 3.75rem;
}
.section_heading.text_center > h2, .section_heading > h2 {
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    text-align: center;
}
.section_heading.text_center>h2 {
    max-width: 45.5rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1.125rem;
}
.single_testimonial 
{
    margin: .4375rem;
    background: #fff;
    box-shadow: 0 0 .3125rem rgba(0, 0, 0, .1);
}
.single_blog,.single_blog>.blog_imageArea,.single_testimonial,.single_testimonial>.testimonial_imageArea {
    overflow: hidden;
}
.single_blog>.blog_imageArea>img,.single_testimonial>.testimonial_imageArea>img {
    width: 100%;
    transition: transform .5s;
}
.single_blog:hover>.blog_imageArea>img,.single_testimonial:hover>.testimonial_imageArea>img {
    transform: scale(1.075);
}
.single-testimonial>.testimonial_detail {
    padding: 1.25rem 1.5rem;
    font-size: .8125rem;
}
.single_testimonial>.testimonial_detail>p {
    font-weight: 500;
     color: #222;
}

.testimoinal_userArea {
    position: relative;
    display: flex;
    gap: .75rem;
    padding-right: 2rem;
    align-items: center;
}
.testimoinal_userArea p
{
    margin:0px;
}

.testimoinal_userArea::before {
    content: "\f10e";
    position: absolute;
    font-family: "Font Awesome 6 Free";
    font-weight: 600;
    right: 0;
    top: 0;
    font-size: 1.5rem
}

.testimoinal_userArea>img {
    border-radius: 50%;
    width: 2.5rem!important;
    height: 2.5rem;
    object-fit: cover;
    box-shadow: 0 0 .5rem rgba(0,0,0,.1);
}
.stars 
{
    color: #fbce1f;
    margin-bottom: .5rem;
}
.single_testimonial>.testimonial_detail
{
    padding: 1.25rem 1.5rem;
    font-size: .8125rem;    
}
.single_testimonial>.testimonial_detail p
{
    color: #222;
}
.dark_section .single_testimonial {
    color: #222;
}
.single_blog, .single_blog>.blog_imageArea, .single_testimonial, .single_testimonial>.testimonial_imageArea {
    overflow: hidden;
}
.single_blog, .single_testimonial {
    border-radius: .375rem;
}
.single_blog, .single_blog>.blog_imageArea, .single_testimonial, .single_testimonial>.testimonial_imageArea {
    overflow: hidden;
}
.dark_section .single_testimonial {
    color: #222;
}
.testimonials_statsUl {
    display: flex;
    flex-direction: column;
    gap: 3.5rem
}

.testimonials_statsUl>li {
    position: relative;
    padding-left: 4.25rem
}

.testimonials_statsUl>li>img {
    position: absolute;
    left: 0;
    width: 3.5rem;
    height: 2.75rem;
    object-fit: contain;
    transition: transform .6s
}

.testimonials_statsUl>li:hover>img {
    transform: scale(1.1)
}
.testimonials_stats_details > p:nth-child(1) 
{
    font-family: "BlinkMacSystem", sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 0.25rem;
    line-height: 1;
}
.testimonials_stats_details>p {
    font-size: .8125rem;
}

.testimonials_stats_details>h3 {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: .25rem;
    line-height: 1
}
