.card {
  transition: all 0.3s ease;
  background: #fff;
  border: 1px solid #000000;
}

.card:hover,
.highlighted {
  background-color: #002e8c;
  color: #fff !important;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.highlighted p,
.card:hover p {
  color: rgba(255, 255, 255, 0.9) !important;
}

.highlighted::before {
  content: "";
  position: absolute;
  top: 1rem;
  right: -3rem;
  width: 100%;
  max-width: 25rem;
  height: 20rem;
  background: url(../../../../public/assets/images/logo-watermark.svg) no-repeat center center;
  background-size: contain;
  opacity: 0.1;
}