.section-padding 
{
    padding: var(--sectionPadding-top) 0 var(--sectionPadding-bottom)
}
.section_heading.text_center > h2, .section_heading > h2 
{
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}
.glow001
{
    position: absolute;
    left: 0px;
    top: 30%;
    width: 42px;
    height: 300px;
    border-radius: 200px;
    box-shadow: 0 0 13px 2px #3c7cff;
    background: #3c7cff;
    filter: blur(50px);
}
.position_relative
{
    position:relative;
}

.custom_tabs2
{
    flex-direction: column;
}
.custom_tabs2 .nav_link
{
    position: relative;
    border: 0;
    width: fit-content;
    font-size: 1.25rem;
    color:#222;
    text-align: left;
    padding: 0.75rem 2rem;
    font-family: "Poppins", sans-serif;
    z-index:1;
    background: transparent;
}
.custom_tabs2
{
    position:relative;
    border-bottom:0;
    z-index:1;
}
.custom_tabs2 .nav_link.active
{
    border: 0;
    color:#222;
    background:transparent;
}
.custom_tabs2 .nav_link h3
{
    font-size:1.25rem;
    font-weight:600;
    margin-bottom: 0;
}
.custom_tabs2 .nav_link p
{
    max-height:0rem;
    overflow:hidden;
    font-size:0.9375rem;
    margin-bottom: 0;
    /*transition:all 0.3s;*/
    margin-top:0rem;
}
.custom_tabs2 .nav_link.active p, .custom_tabs2 .nav_link.active.activeAnimation p 
{
    max-height: 100rem;
    margin-top: 1rem;
}
.custom_tabs2 .nav_link.active.activeAnimation .scrollanimation_bar_timer
{
    animation: increaseHeight 10s linear infinite;
}

.custom_tabs2 .nav_link.active p,
.custom_tabs2 .nav_link.active.activeAnimation p
{
    max-height:100rem;
    
    margin-top:1rem;
}
.blue_img
{
    position:relative;
    z-index:1;
}
.scrollanimation_bar {
  background-color: #e1e1e1;
  width: 0.25rem;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.scrollanimation_bar_timer {
  background-color: #3c7cff;
  width: 100%;
  height: 0%;
  position: absolute;
}
.link_area
{
    
    margin-top: 2rem;
}
.link_area > a.primary 
{
    background: radial-gradient(49.53% 384.62% at 50.47% 391.61%, #3975FF 49.53%, #1429FF 100%) !important;
}
.link_area>a.primary
{
    position: relative;
    display: inline-block;
    padding: .75rem 3rem;
    border-radius: 4rem;
    min-height: 3rem;
    border: 0;
    outline: 0;
    background: var(--primary);
    color: var(--text-light-color);
    font-weight: 600;
    overflow: hidden;
    transition: color .3s;
}

@keyframes increaseHeight {
  0% { height: 0%; }
  100% { height: 100%; }
}